
#lt_selector .selposition {
	text-align: center;
}

#lt_selector .selposition label {
	display: inline-block;
	width: 55px;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
}

#lt_selector .selposition label input {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#lt_selector .selposition span {
	display: block;
	text-align: left;
}

#lt_selector .selposition span span {
	display: inline;
}

.navbar {
	background: #5f728d;
}

.navbar-nav {
	margin: 0;
	min-height: 50px;
}

.go-back {
	height: 30px;
	width: 26px;
	display: inline-block;
	position: relative;
	text-indent: -999em;
	vertical-align: middle;
}

.select-panel .prev,.go-back {
	overflow: hidden;
	width: 25px;
	vertical-align: middle;
}

.select-panel .prev:before,.go-back:before {
	content: '';
	height: 15px;
	width: 15px;
	display: block;
	border: 5px solid #fff;
	border-right-width: 0;
	border-bottom-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	top: 7px;
	left: 7px;
}

.method-list-container {
	position: absolute;
	top: 36px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1;
	background: #fff;
	overflow: auto;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.method-list-container-current {
	height: 235px;
}

.method-list-panel {
	float: left;
	border-right: 1px solid #ccc;
	text-align: center;
}

.method-list-panel img {
	display: none;
}

.method-list-panel span {
	display: block;
	padding: 2px 5px;
	line-height: 25px;
}

.method-list-panel .tab-front .content {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.9);
}

.select-panel {
	position: relative;
	width: 100%;
	height: 36px;
	clear: both;
	line-height: 36px;
	background-color: #e7e7e7;
}

.select-panel .prev {
	width: 30px;
	height: 30px;
}

.select-panel .method-name {
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 3px 0 0 10px;
	padding: 0 15px;
	color: #fff;
	border: 1px solid #ddd;
	border-radius: 30px;
	background: #4aaec6;
}

.navbar-nav li,.navbar-nav li a {
	min-height: 50px;
	padding: 0;
	line-height: 50px;
	text-align: center;
}

.method-list-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 36px;
	line-height: 50px;
	padding: 0 10px;
	background-color: #fff;
	overflow: hidden;
	text-indent: -9999em;
}

.method-list-button:before {
	content: '';
	height: 15px;
	width: 15px;
	display: block;
	border: 3px solid #666;
	border-right-width: 0;
	border-top-width: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	position: absolute;
	bottom: 12px;
	left: 10px;
}

/*details*/
.method-details {
	float: left;
	width: 70%;
}

.method-details ul {
	margin: 0 0 0 15px;
	padding: 0;
}

.method-details li {
	list-style: none;
	list-style-type: none;
}

.method-details div {
	float: left;
	margin: 5px 5px 0 0;
	padding: 0 3px;
	height: 28px;
	overflow: hidden;
	line-height: 28px;
	border: 1px solid #fff;
}

.method-details .act {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.method-details .tz_title {
	display: block;
	margin: 5px 0 0 0;
	padding-left: 6px;
	clear: both;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	color: #22515D;
}

.navbar-default .navbar-nav li a {
	font-size: 16px;
	color: #333;
}

.method-lottery {
	margin: 5px 0 0 0;
	background: #e7e7e7;
}

.method-lottery .navbar-brand {
	font-size: 14px;
	color: #333;
}

em {
	font-style: normal;
}

.play-select-title {
	display: none;
}

.function-select-content,.ball-title span {
	display: none;
}

ul.ball-section {
	margin-top: 5px;
	padding: 0;
	border-radius: 5px;
	overflow: hidden;
}

.ball-section li {
	display: block;
	float: none;
	height: auto;
	margin: 0 0 0 0;
	padding: 5px 0 10px 0;
	line-height: 35px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.3);
	list-style: none;
}

.ball-section li:nth-child(0) {
	width: auto;
}

.main-ball-panel {
	width: 92%;
	margin: 10px auto 0 auto;
	padding: 0 0 10px 0;
}

.nbs .ti {
	position: absolute;
	top: 6px;
	left: 10px;
	width: 65px;
	text-align: center;
	color: #f7f7f7;
	font-size: 14px;
	list-style: none;
	line-height: 35px;
	white-space: nowrap;
}

.number-select-content {
	border-radius: 5px;
	overflow: hidden;
}

.nbs {
	position: relative;
	padding: 0 0 5px 0;
	margin: 15px 0 0 0;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}

.nbs .to {
	position: absolute;
	top: 7px;
	right: 0;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nbs .to ul {
	position: absolute;
	top: 0;
	right: 10px;
}

.nbs .to .l,.nbs .to .r {
	display: none;
}

.nbs .to li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 2px 0 0 7px;
	text-align: center;
	border-radius: 30px;
	line-height: 30px;
	color: #fff;
	overflow: hidden;
	text-decoration: none;
	border: 1px dashed rgba(255, 255, 255, 0.3);
	overflow: hidden;
}

.nbs .to li.on {
	background: rgba(255, 255, 255, 0.2);
}

.ball-control a.current {
	border-radius: 30px;
	background-color: #22515D;
}

.ball-content {
	display: block;
	padding: 0;
}

.nbs .nb,.nbs .nbts {
	width: 95%;
	margin: 0 auto;
	padding: 45px 0 10px 0;
}

.nbs .nbts div,.nbs .nb div,.nbs .bl div {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 15px 0 0 15px;
	padding: 0;
	line-height: 40px;
	list-style: none;
	clear: inherit;
	border: none;
	border-radius: 30px;
	overflow: hidden;
	background: #fff;
	background-image: -webkit-linear-gradient(to bottom, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	font-weight: bold;
	border-radius: 30px;
	text-align: center;
	color: #333;
	border: 1px solid #666;
}

.nbs .nbts div,.nbs .bl div {
	width: auto;
	padding: 0 10px;
}

/*.nbs .nb div{
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px auto 0 auto;
  border-radius: 30px;
  text-align: center;
  
  
}*/
@
keyframes selected { 0%{
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	margin-left: 15px;
}

30%{
width


:

 

50
px


;
height


:

 

50
px


;
line-height


:

 

50
px


;
margin-top


:

 

5
px


;
margin-left


:

 

5
px


;
}
100%{
width


:

 

40
px


;
height


:

 

40
px


;
line-height


:

 

40
px


;
margin-top


:

 

15
px


;
margin-left


:

 

15
px


;
}
}
@
-webkit-keyframes selected { 0%{
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	margin-left: 15px;
}

30%{
width


:

 

50
px


;
height


:

 

50
px


;
line-height


:

 

50
px


;
margin-top


:

 

5
px


;
margin-left


:

 

5
px


;
}
100%{
width


:

 

40
px


;
height


:

 

40
px


;
line-height


:

 

40
px


;
margin-top


:

 

15
px


;
margin-left


:

 

15
px


;
}
}
@
-moz-keyframes selected { 0%{
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	margin-left: 15px;
}

30%{
width


:

 

50
px


;
height


:

 

50
px


;
line-height


:

 

50
px


;
margin-top


:

 

5
px


;
margin-left


:

 

5
px


;
}
100%{
width


:

 

40
px


;
height


:

 

40
px


;
line-height


:

 

40
px


;
margin-top


:

 

15
px


;
margin-left


:

 

15
px


;
}
}
.nbs .nb div:hover {
	text-decoration: none;
}

.nbs .nbts div.on,.nbs .nb div.on,.nbs .bl div.on {
	color: #fff;
	background: #e5a824; /*
  animation: selected 0.38s ease;
  -webkit-animation: selected 0.38s ease;
  -moz-animation: selected 0.38s ease;*/
}

.play-select-content {
	height: 150px;
	overflow: auto;
	padding: 0;
}

.play-select-content li {
	list-style: none;
	text-align: left;
}

.play-select-content dl {
	margin: 0;
	overflow: hidden;
	/* border-radius: 3px; */
	/* background: rgba(0,0,0,0.1); */
	/* box-shadow: 0 2px 0px rgba(0,0,0,0.25); */
	border-top: 1px solid #ccc;
}

.play-select-content dt {
	height: 35px;
	line-height: 35px;
	display: block;
	float: left;
	height: 102%;
	padding: 0 10px;
	width: 25%;
	text-align: center;
}

.play-select-content dt .method-name {
	color: #888;
}

.play-select-content dd {
	height: 35px;
	line-height: 35px;
	letter-spacing: 2px;
	/* border-top: 1px solid rgba(0,0,0,0.1); */
	/* background: #fffcdb; */
	display: inline-block;
	text-align: left;
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
}

.method-lottery .navbar-brand {
	color: #333;
	font-weight: bold;
}

.chose-ball {
	height: 30px;
	line-height: 30px;
	background: #fff;
	background-image: -webkit-linear-gradient(to bottom, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd);
}

.order-info {
	text-align: center;
	height: 35px;
	line-height: 35px;
	color: #fff;
}

.ensure-info {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	padding: 10px;
	background: rgba(50, 62, 81, 0.95);
	z-index: 50;
	color: #fff;
	-moz-transition: bottom 0.5s ease;
	-webkit-transition: bottom 0.5s ease;
	-o-transition: bottom 0.5s ease;
	transition: bottom 0.5s ease;
}

.panel-section li {
	list-style: none;
}

.ensure-info .bet-statistics {
	padding: 0;
}

#J-balls-order-container {
	padding: 0;
	max-height: 200px;
	overflow: auto;
}

#J-balls-statistics-multiple {
	display: inline-block;
	width: 100px;
}

#J-balls-order-container li {
	position: relative;
	padding: 10px 0;
}

#J-balls-order-container li .close {
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 1;
}

#J-balls-order-container li span {
	padding: 0 5px;
}

#J-balls-order-container .lotterysText {
	color: #f0ad4e;
}

#J-balls-order-container li .close a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 30px;
}

#J-select-again {
	margin-left: 5px;
}

#J-balls-statistics-panel .mode-group-rewards {
	position: relative;
	float: left;
	width: 50%;
}

.desc-text {
	float: left;
	width: 35%;
	text-align: center;
	line-height: 25px;
	color: #fff;
}

#J-balls-statistics-panel .choose-list {
	position: absolute;
	bottom: 26px;
	width: 65%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#J-balls-statistics-panel span.info {
	width: 100%;
}

#J-balls-statistics-panel .form-group {
	margin-bottom: 0;
}

#J-balls-statistics-panel span.info input {
	width: 100%;
	height: 25px;
	border-radius: 3px;
	border: none;
	text-align: center;
	background: rgb(235, 235, 228);
}

.choose-model {
	float: left;
	width: 65%;
}

.choose-list a {
	display: block;
	height: 30px;
	line-height: 30px;
	background: #f7f7f7;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.j-ui-miniwindow {
	text-align: center;
	padding: 0 0 10px 0;
	max-width: 80%;
}

.j-ui-miniwindow .hd {
	border-radius: 5px 5px 0 0;
	background: #4aaec6;
}

.j-ui-miniwindow .hd .title {
	background: none;
}

.j-ui-miniwindow .bd {
	padding: 10px 10px;
	font-size: 12px;
	line-height: 25px;
}

.j-ui-miniwindow .bd h4 {
	font-size: 14px;
}

.j-ui-miniwindow .btn {
	margin: 0 5px;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#e0e0e0) );
	background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe0e0e0', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=   false );
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
}

.terminal-name {
	width: 75%;
	float: right;
}

.c_betcontent {
	position: fixed;
	bottom: 85px;
	left: 0;
	width: 100%;
}

.new-history-record {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin: -75px 0 0 -150px;
	overflow: auto;
	border-radius: 5px;
	border: 2px solid #000;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
	overflow-x: hidden;
	z-index: 1;
}

.new-history-record .close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 28px;
	color: #fff;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	overflow: hidden;
	opacity: 1;
}

.ensure-info .close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 28px;
	color: #fff;
	border-radius: 30px;
	text-align: center;
	overflow: hidden;
	opacity: 1;
}

.c_betRecodeList {
	max-height: 160px;
	overflow: auto;
	padding: 10px 0 0 0;
	margin-bottom: 10px;
	color: #DD9C3F;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left: none;
	border-right: none;
}

.new-record-content {
	background: rgba(0, 0, 0, 0.8);
}

.c_betRecodeList td {
	display: block;
	float: left;
	padding: 0 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto !important;
	height: 30px;
}

.c_betRecodeList .nr td:nth-child(2) {
	width: auto !important;
}

.c_betRecodeList td:nth-child(1) {
	width: 40% !important;
	overflow: hidden;
}

.c_betRecodeList td:nth-child(2) {
	width: 10% !important;
	overflow: hidden;
}

.c_betRecodeList td:nth-child(3) {
	width: 15% !important;
	overflow: hidden;
}

.c_betRecodeList td:nth-child(4) {
	width: 10% !important;
	overflow: hidden;
}

.c_betRecodeList td:nth-child(5) {
	width: 15% !important;
	overflow: hidden;
}

.c_betcontenttitle {
	height: 30px;
	line-height: 30px;
}

.c_confirmArea {
	line-height: 30px;
}

.c_confirmArea .input {
	color: #333;
}

.c_betRecodeList .tl_li_r {
	width: 20px !important;
	height: 30px;
	text-indent: -999em;
	background: url(../../images/close-btn.png) no-repeat 0px -1px;
}

.tl_li_r img {
	display: none;
}

#JS_blockPage {
	width: 90%;
	padding: 5px 0 !important;
	text-align: center;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
}

#JS_blockPage img {
	display: none;
}

#JS_blockPage #block_draghandler {
	margin: 10px 0 10px 0 !important;
}

#JS_blockPage .mdl {
	width: 100% !important;
}

#JS_blockPage .table {
	margin: 0 0 0 0 !important;
}

.re-select {
	margin: 0 0 0 10px;
}

.button-control-area {
	padding: 10px 0 10px 0;
}

#JS_blockPage #alert_close_button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
	background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e),
		to(#eb9316) );
	background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',
		endColorstr='#ffeb9316', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=   false );
	background-repeat: repeat-x;
	border-color: #e38d13;
}

.ensure-display-none {
	position: fixed;
	bottom: -100%;
	left: 0;
}

.ensure-display-show {
	position: fixed;
	bottom: 85px;
	left: 0;
}

.mutil-bei {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	border: none;
	outline: none;
}

.balance-info,.deitails-control,.record-info,.recordMMC-info {
	position: fixed;
	right: -180px;
	bottom: 90px;
	width: 180px;
	margin: 15px auto 0 auto;
	padding: 0 0 10px 10px;
	border-radius: 5px 0 0 5px;
	color: #fff;
	background: #6A85AC;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border: 1px solid #333;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.balance-info {
	height: 35px;
	bottom: 130px;
	border-radius: 0;
}

.record-info {
	height: 420px;
	bottom: 90px;
	border-radius: 0;
}

.recordMMC-info{
	height:310px;
	bottom:90px;
	border-radius:0;
}

.balance-info02 {
	height: 300px;
	bottom: 90px;
	border-radius: 0;
}

.balance-info .balance-area {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}

.balance-info-show,.deitails-control-show,.record-info-show {
	right: 0;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.deitails-control .inner {
	margin: 10px 0 0 0;
}

.deitails-control input,.deitails-control select {
	width: 80px;
	margin: 0 5px;
	color: #333;
	text-align: center;
}

.deitails-control .desc-area {
	display: inline-block;
	width: 20%;
	text-align: center;
}

.deitails-control select {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	border: none;
	outline: none;
}

.balance-info .balance-button,.deitails-control .btn-parma,.record-info .record-button,.recordMMC-info .record-button
	{
	position: absolute;
	bottom: 0;
	right: 179px;
	height: 35px;
	padding: 0 10px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px 0 0 5px;
	white-space: nowrap;
	background: #e5a824;
	border: 1px solid #333;
	border-right: none;
	color: #fff;
}

.balance-info .balance-button {
	bottom: -1px;
}

.record-info .record-button {
	bottom: -1px;
}

.recordMMC-info .record-button {
	bottom: -1px;
}

.resend select {
	width: 80px;
	margin-left: 9px;
}

.new-bet-body {
	padding: 0;
	background: rgba(255, 255, 255, 1);
}

.new-bet-table {
	color: #666;
}

#lt_write_box {
	padding: 5px;
	width: 100% !important;
	border-radius: 5px 5px 0 0;
	border: none;
}

.single span {
	display: inline-block;
	padding: 5px 5px 0 5px;
	line-height: 25px;
	width: 100% !important;
	color: #fff !important;
}

.single .ds {
	display: none;
}

.title .desc {
	vertical-align: middle;
}

.count-down-area {
	color: #fff000;
}

.c_followBet,.c_trancemain {
	display: none;
}

#lt_trace_qissueno,#lt_issues select {
	width: 180px;
	color: #666;
	border-radius: 3px;
}

.zh_title {
	
}

#lt_margin {
	display: none !important;
	height: 0;
	width: 0;
}

.zh_title input {
	vertical-align: middle;
	margin: 0 0 0 20px;
}

.result-ball-show {
	display: none;
	position: fixed;
	top: 50%;
	left: 0;
	width: 100%;
	height: 100px;
	margin: -50px 0 0 0;
	z-index: 500;
	overflow: hidden;
	border-radius: 5px;
}

.result-ball-show div {
	float: left;
	margin: 0;
	padding: 0;
	width: 20%;
	line-height: 100px;
	text-align: center;
	font-size: 80px;
	overflow: hidden;
	color: #f7f7f7;
	background-color: rgba(28, 37, 52, 0.82);
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0
		#b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px
		rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px
		rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px
		rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.animation {
	-webkit-animation: bounceIn 1s .2s ease both;
	-moz-animation: bounceIn 1s .2s ease both;
}
