<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>摩宝支付商户接口范例-首页</title>
	<meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta http-equiv="expires" content="0"/>    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3"/>
	<meta http-equiv="description" content="This is my page"/>
	<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="css/mobaopay.css" type="text/css" rel="stylesheet" />
	-->
  </head>
  
  <body>
    <table width="50%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: solid 1px #107929">
        <tr>
            <td>
                <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1">
                    <tr>
                        <td height="30" align="left">
                            <a href="https://www.mobaopay.com/">
                                <img src="https://www.mobaopay.com/images/v1.4.1/logo.png"
                                    width="141" height="47" border="0" alt="摩宝支付LOGO" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td height="30" colspan="2" bgcolor="#6BBE18">
                            <span style="color: #FFFFFF">感谢您使用摩宝支付平台</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" align="left" bgcolor="#CEE7BD">
                            摩宝支付产品通用支付接口演示：
                        </td>
                    </tr>
                    <tr>
                        <td height="30" align="left" bgcolor="#FFFFEF">
                            &nbsp;&nbsp;<a href="normalPay.aspx">产品通用支付接口</a>
                        </td>
                    </tr>
                    <tr>
                        <td height="30" align="left" bgcolor="#FFFFEF">
                            &nbsp;&nbsp;<a href="queryOrd.html">查询订单</a>
                        </td>
                    </tr>
                    <tr>
                        <td height="30" align="left" bgcolor="#FFFFEF">
                            &nbsp;&nbsp;<a href="refundOrd.html">退款操作</a>
                        </td>
                    </tr>
                    <tr>
                        <td height="5" bgcolor="#6BBE18">
                        	&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

  </body>
</html>
