<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style rel="stylesheet" type="text/css">
#changecolor{color:red;}
</style>
</head>
<body>
		<form method="post" action="MerDinpayUTF-8.aspx" target="_blank">
			商 家 号（Merchant ID）：<input type="text" name="merchant_code" value="1111110166"/><span id="changecolor">*</span><br/>
			服务类型（Service Type）：<input type="text" name="service_type" value="direct_pay"/><span id="changecolor">*</span><br/>
			参数编码字符集：<input type="text" name="input_charset" value="UTF-8"/><span id="changecolor">*</span><br/>
			服务器异步通知地址（Notify URL）：<input type="text" name="notify_url" value="http://www.xxx.com/Notify_Url.php"/><span id="changecolor">*</span><br/>
			接口版本（Interface Version）：<input type="text" name="interface_version" value="V3.0"/><span id="changecolor">*</span><br/>
			签名方式（Sign Type）：<input type="text" name="sign_type" value="RSA-S"/><span id="changecolor">*</span><br/>
			订单编号（Order No.）：<input type="text" name="order_no" value="1000201555"/><span id="changecolor">*</span><br/>
			订单时间（Order Time）：<input type="text" name="order_time" value="2015-01-01 14:20:55"/><span id="changecolor">*</span><br/>
			订单金额（Order Amount）：<input type="text" name="order_amount" value="0.1"/><span id="changecolor">*</span><br/>
			商品名称（Product Name）：<input type="text" name="product_name" value="test"/><span id="changecolor">*</span><br/>
			银行标识(Bank Code)：<input type="text" name="bank_code" value=""/><br/>
			客户端IP(Client IP)：<input type="text" name="client_ip" value=""/><br/>
			公用业务扩展参数（Extend Param）：<input type="text" name="extend_param" value=""/><br/>
			公用回传参数（Extra Return Param）：<input type="text" name="extra_return_param" value=""/><br/>
			商品编号（Product Code）：<input type="text" name="product_code" value=""/><br/>
			商品描述（Product Desc）：<input type="text" name="product_desc" value=""/><br/>
			商品数量（Product Num）：<input type="text" name="product_num" value=""/><br/>
			页面跳转同步通知地址(Return URL)：<input type="text" name="return_url" value="www.baidu.com"/><br/>
			商品展示URL(Show URL)：<input type="text" name="show_url" value=""/><br/>
			是否允许重复订单(Redo Flag)：<input type="text" name="redo_flag" value=""/><br/>
            支付类型(Pay Type)：<input type="text" name="pay_type" value=""/><br/>
			<p><input type="submit" name="submit" value="智付在线支付"/></p>
		</form>
	</body>
